* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .2);
}
/* nav general */

nav {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.nav-left > ul,
.nav-right > ul,
.nav-left > ul > li,
.nav-right > ul > li,
.nav-right #features .dropdown-menu ul {
  display: inline-block;
}

.nav-right {
  justify-content: flex-end;
}

nav li {
  margin: 0 25px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: grey;
}

/* nav-left */
nav .nav-left .logo {
  display: inline-block;
  width: 3%;
  margin-right: 30px;

}
nav .nav-left .logo img {
  width: 100%;
}

/* nav-rigth */
.nav-right > ul {
  position: relative;
}

.nav-right .nav-buttons li {
margin: 0 5px;
}

.nav-right .nav-buttons button{
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* dropdown */
.nav-right .dropdown-menu {
  position: absolute;
  top: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  display: none;
}

.nav-right #features .dropdown-menu {
  left: -200px;
  width:max-content;
}

.nav-right .dropdown-menu .drop-title{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.nav-right .dropdown-menu li {
  padding: 10px;
}

/* js */
.dropdown-menu.active {
  display: block;
}
/* color */
.black {
  color: black;
}
.white {
  color: #fff;
}

.bg-black {
  background-color: black;
}

